<div class="row">
    <div class="card col-10">
        <div class="card-body">
            <h1
                style="font-size: xx-large; margin-bottom: 25px; margin-top: 25px; text-align: center; color: rgb(72, 77, 77);">
                Delete books</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let book of books">
                    <tr routerLink="/books/{{ book.id }}">
                        <td>{{ book?.title }}</td>
                        <td>{{ book?.authorName }} {{ book?.authorSurname }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-s"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>